<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Best of the year</title>
</head>
<body>
	<h1>Best of the year</h1>
	<ul>
	    <!-- Itera sulla lista di film e visualizzali -->
	    <li th:each="movie : ${movies}">
			<a th:href="${'/movie/' + movie.id}">
	        	<span th:text="${movie.titolo}"></span>
	        </a>
	    </li>
	</ul>
	<button>
		<a href="/">Homepage</a>
	</button>
	<button>
		<a href="/songs">Songs</a>
	</button>
</body>
</html>